@model ConsentSettingsViewModel;
@using CookieConsent.OrchardCore.ViewModels;

<h3>@T["Consent Settings"]</h3>
<div class="row">
    <div class="col-4">
        <div class="form-group" asp-validation-class-for="BarColor">
            <label asp-for="BarColor">@T["Bar color"]</label>
            <input asp-for="BarColor" class="form-control" type="color" />
            <span asp-validation-for="BarColor"></span>
            <span class="hint">@T["The color of the bar."]</span>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group" asp-validation-class-for="BarTextColor">
            <label asp-for="BarTextColor">@T["Bar text color"]</label>
            <input asp-for="BarTextColor" class="form-control" type="color" />
            <span asp-validation-for="BarTextColor"></span>
            <span class="hint">@T["The text color of the bar."]</span>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group" asp-validation-class-for="BarMainButtonColor">
            <label asp-for="BarMainButtonColor">@T["Bar main button color."]</label>
            <input asp-for="BarMainButtonColor" class="form-control" type="color" />
            <span asp-validation-for="BarMainButtonColor"></span>
            <span class="hint">@T["The color of the main button."]</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="form-group" asp-validation-class-for="BarMainButtonTextColor">
            <label asp-for="BarMainButtonTextColor">@T["Bar main button text color"]</label>
            <input asp-for="BarMainButtonTextColor" class="form-control" type="color" />
            <span asp-validation-for="BarMainButtonTextColor"></span>
            <span class="hint">@T["The text color of the main button."]</span>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group" asp-validation-class-for="ModalMainButtonColor">
            <label asp-for="ModalMainButtonColor">@T["Modal main button color"]</label>
            <input asp-for="ModalMainButtonColor" class="form-control" type="color" />
            <span asp-validation-for="ModalMainButtonColor"></span>
            <span class="hint">@T["The color of the modal main button."]</span>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group" asp-validation-class-for="ModalMainButtonTextColor">
            <label asp-for="ModalMainButtonTextColor">@T["Modal main button text color"]</label>
            <input asp-for="ModalMainButtonTextColor" class="form-control" type="color" />
            <span asp-validation-for="ModalMainButtonTextColor"></span>
            <span class="hint">@T["Bar main button text color"]</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group" asp-validation-class-for="Language">
            <label asp-for="Language">@T["Language"]</label>
            <textarea asp-for="Language" class="form-control" rows="22"></textarea>
            <span asp-validation-for="Language"></span>
            <span class="hint">@T["The language parameter"]</span>
        </div>
    </div>
    <div class="col-6">
        <label>@T["Example"]</label><br />
        <pre><code>language: {
      current: 'en',
      locale: {
        en: {
          barMainText: 'This website uses cookies to ensure you get the best experience on our website.',
          barLinkSetting: 'Cookie Settings',
          barBtnAcceptAll: 'Accept all cookies',
          modalMainTitle: 'Cookie settings',
          modalMainText: 'Cookies are small piece of data sent from a website and stored on the computer by the user\'s web browser while the user is browsing. Your browser stores each message in a small file, called cookie. When you request another page from the server, your browser sends the cookie back to the server. Cookies were designed to be a reliable mechanism for websites to remember information or to record the browsing activity.',
          modalBtnSave: 'Save current settings',
          modalBtnAcceptAll: 'Accept all cookies and close',
          modalAffectedSolutions: 'Affected solutions:',
          learnMore: 'Learn More',
          on: 'On',
          off: 'Off',
        }
      }
    }
        </code></pre>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group" asp-validation-class-for="Categories">
            <label asp-for="Categories">@T["Categories"]</label>
            <textarea asp-for="Categories" class="form-control" rows="15"></textarea>
            <span asp-validation-for="Categories"></span>
            <span class="hint">@T["The categories parameter."]</span>
        </div>
    </div>
    <div class="col-6">
        <label>@T["Example"]</label><br />
        <pre><code>categories: {
      necessary: {
        needed: true,
        wanted: true,
        checked: true,
        language: {
          locale: {
            en: {
              name: 'Strictly Necessary Cookies',
              description: 'Cookies necessary for the site.',
            }
          }
        }
      }
    }
        </code></pre>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group" asp-validation-class-for="ModalMainButtonColor">
            <label asp-for="Services">@T["Services"]</label>
            <textarea asp-for="Services" class="form-control" rows="21"></textarea>
            <span asp-validation-for="Services"></span>
            <span class="hint">@T["The services parameter"]</span>
        </div>
    </div>
    <div class="col-6">
        <label>@T["Example"]</label><br />
        <pre><code>services: {
      analytics: {
        category: 'necessary',
        search: 'analytics',
        cookies: [
          {
            name: '_gid',
            domain: `.${window.location.hostname}`
          },
          {
            name: /^_ga/,
            domain: `.${window.location.hostname}`
          }
        ],
        language: {
          locale: {
            en: { name: 'Google Analytics' }
          }
        }
      }
    }
         </code></pre>
    </div>
</div>